#root {
}

body {
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: rgb(88, 103, 143);
  position: fixed;
  top: 0;
  z-index: 100;
}
.navLinks {
  color: aliceblue;
  text-decoration: none;
  padding: 0 20px 0 20px;
}

.navText {
  border: 10px solid rgb(47, 47, 84);
  border-radius: 10px;
  margin: 5px;
  background: rgb(47, 47, 84);
}

.navBarSpace {
  height: 100px;
}

.myRecipeImg {
  height: 100px;
  width: 100px;
}

.bodyDiv {
  display: flex;
  justify-content: center;
}

.user {
  display: flex;
}

.userName {
  padding-left: 20px;

}

.userImg {
  border-radius: 40px;
}

.centerAll {
  margin: 0;
  align-items: center;
}
